@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	scrollbar-gutter: stable both-edges;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.3s ease-out;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.swiper {
	overflow-x: clip; /* better than hidden, no scrollbar flash */
}
