@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	background-color: theme("colors.bg.light");
	color: theme("colors.text.light");
}

.dark body {
	background-color: theme("colors.bg.dark");
	color: theme("colors.text.dark");
}
